form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.inputGrupo{
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}

.inputGrupo label{
  width: 15vw;
}

.inputGrupo input{
  width: 25vw;
  height: 20px;
}
@media only screen and (max-width: 1400px) {
  .inputGrupo{
    width: 90vw;
  }

  .inputGrupo label{
    width: 30vw;
  }
  
  .inputGrupo input{
    width: 60vw;
    
  }
  @media only screen and (max-width: 700px) {
    .inputGrupo{
      width: 90vw;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
  
    .inputGrupo label{
      width: 90vw;
      padding-bottom: 3px;
    }
    
    .inputGrupo input{
      width: 90vw;
      
    }
    
  }

}